# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Test reports
reports/
allure-results/
allure-report/

# Logs
logs/
*.log

# IDE / OS files
.vscode/
.idea/
.DS_Store

# Environment files
*.env
